<!DOCTYPE html>
<html lang="en">

<head>
  <title>Suspect Details</title>
</head>

<body style="background-color:beige;text-align:center;">
  <h1>Suspect Name: {{details.name}}</h1>
  <h1>Username: {{details.uname}}</h1>
  <h2>RQ: {{details.rq}}</h2>    
</body>
<html>